<a href="https://colab.research.google.com/github/Purne1326/Pre-Coding-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
e = [1, 2, 3, 4, 5]
e.reverse()
print(e)

[5, 4, 3, 2, 1]

In [ ]:
e = ["a", "b", "c"]
p = ["1", "2", "3"]
r = [i + j for i, j in zip(e, p)]
print(r)

['a1', 'b2', 'c3']

In [ ]:
n = [1, 2, 3, 4]
s = [x**2 for x in n]
print(s)

[1, 4, 9, 16]

In [ ]:
e = ["Hi ", "Bye "]
p = ["Tom", "Sam"]
r = [x + y for x in e for y in p]
print(r)

['Hi Tom', 'Hi Sam', 'Bye Tom', 'Bye Sam']

In [ ]:
e = [1, 2, 3]
p = ['a', 'b', 'c']
for a, b in zip(e, p):
    print(a, b)

1 a
2 b
3 c

In [ ]:
p = ["abc", "", "def", "", "ghi"]
r = [s for s in p if s]
print(r)

['abc', 'def', 'ghi']

In [ ]:
l = [10, 20, 30, 40]
t = int(input("Enter the target item: "))
n = int(input("Enter the new item to insert: "))
if t in l:
    i = l.index(t) + 1
    l.insert(i, n)
    print("Updated list:", l)
else:
    print("Target item not found in the list.")

Enter the target item: 30
Enter the new item to insert: 65
Updated list: [10, 20, 30, 65, 40]

In [ ]:
n = [1, [2, 3], 4]
s = [5, 6]
n[1].extend(s)
print(n)

[1, [2, 3, 5, 6], 4]

In [ ]:
l = [1, 2, 3, 4, 2]
o = 2
n = 99
l = [n if x == o else x for x in l]
print(l)

[1, 99, 3, 4, 99]

In [ ]:
L = [10, 20, 30, 40]
o = 30
n = 99
for i in range(len(L)):
    if L[i] == o:
        L[i] = n
        break
print(L)

[10, 20, 99, 40]

In [ ]:
l = [1, 2, 3, 2, 4, 2]
t = 2
l = [x for x in l if x != t]
print(l)

[1, 3, 4]

In [ ]:
L = [1, 2, 3, 2, 4, 2]
x = 2
L = list(filter(lambda i: i != x, L))
print(L)

[1, 3, 4]

In [ ]:
t = (1, 2, 3, 4)
rt = t[::-1]
print(rt)

(4, 3, 2, 1)

In [ ]:
t = ("A", [10, 20, 30], 5)
print(t[1][1])

20

In [ ]:
t = (10,)
print(t)

(10,)

In [ ]:
t = (1, 2, 3, 4)
a, b, c, d = t
print(a, b, c, d)

1 2 3 4

In [ ]:
t1 = (1, 2)
t2 = (3, 4)
t1, t2 = t2, t1
print("t1 =", t1)
print("t2 =", t2)

t1 = (3, 4)
t2 = (1, 2)

In [ ]:
t = (1, 2, 3, 4, 5)
p = t[1:4]
print(p)

(2, 3, 4)

In [ ]:
t = (1, 2, 3)
p = list(t)
p[1] = 99
t = tuple(p)
print(t)

(1, 99, 3)

In [ ]:
t = ((1, 3), (3, 2), (2, 1))
sorted_t = tuple(sorted(t, key=lambda x: x[1]))
print(sorted_t)

((2, 1), (3, 2), (1, 3))

In [ ]:
from operator import itemgetter
d = ((1, 3), (2, 1), (3, 2))
sd = tuple(sorted(d, key=itemgetter(1)))
print(sd)

((2, 1), (3, 2), (1, 3))

In [ ]:
t = ('x', 'a', 'b', 'x', 'c', 'x')
count = t.count('x')
print(count)

3

In [ ]:
from collections import Counter
t = ('x', 'y', 'x', 'z', 'x')
count_x = Counter(t)['x']
print(count_x)

3

In [ ]:
s = {1, 2}
lst = [3, 4, 5]
s.update(lst)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
common = s1.intersection(s2)
print(common)

{2, 3}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
unique = s1.symmetric_difference(s2)
print(unique)

{1, 2, 4, 5}

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 4}
s1.difference_update(s2)
print(s1)

{1, 3}

In [ ]:
s = {1, 2, 3, 4, 5}
s.difference_update([2, 4])
print(s)

{1, 3, 5}

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}
result = A ^ B
print(result)

{1, 2, 4, 5}

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
common = s1 & s2
if common:
    print("Common elements:", common)
else:
    print("No common elements")

Common elements: {2, 3}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2 - set1)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set1 ^ set2)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection_update(set2)
print(set1)

{2, 3}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1 &= set2
print(set1)

{2, 3}

In [ ]:
k = ['a', 'b', 'c']
v = [1, 2, 3]
d = dict(zip(k, v))
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
k = ['a', 'b']
dv = 0
d = dict.fromkeys(k, dv)
print(d)

{'a': 0, 'b': 0}

In [ ]:
o = {'a': 1, 'b': 2, 'c': 3}
k = ['a', 'c']
n = {k: o[k] for k in k}
print(n)

{'a': 1, 'c': 3}

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
k = ['b', 'c']
for key in k:
    d.pop(key, None)
print(d)

{'a': 1}

In [ ]:
d = {'a': 10, 'b': 20}
val = 20
if val in d.values():
    print("Value exists")
else:
    print("Value not found")

Value exists

In [ ]:
d = {'e': 1}
d['p'] = d.pop('e')
print(d)

{'p': 1}

In [ ]:
d = {'a': 10, 'b': 5, 'c': 20}
m = min(d, key=d.get)
print(m)

b

In [ ]:
d = {'a': 3, 'b': 1, 'c': 2}
m = min(d.items(), key=lambda item: item[1])[0]
print(m)

b

In [ ]:
d = {'emp1': {'name': 'John', 'salary': 5000},'emp2': {'name': 'Doe', 'salary': 6000}}
d['emp1']['salary'] = 5500
print(d)

{'emp1': {'name': 'John', 'salary': 5500}, 'emp2': {'name': 'Doe', 'salary': 6000}}

In [ ]:
d = {'outer': {'inner': 42}}
d['outer'].update({'inner': 99})
print(d)

{'outer': {'inner': 99}}